$main-gray: rgb(214, 206, 206);
$main-green: rgb(39, 241, 194);
$btn-green: rgba(28, 128, 104, .5);

header {
   background-image: linear-gradient(rgba(0, 0, 0, .5)), url(../../assets/img/head.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
   background-attachment: fixed;
   font-size: 10px;

   .center-text {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;

      h1 {
         color: $main-gray;
         word-spacing: 1rem;
         letter-spacing: .8rem;
         margin-bottom: 10rem;
         font-size: 5rem;
         font-family: 'Raleway', sans-serif;
      }
   }

   .btn-main {
      display: inline-block;
      border: 2px solid $main-green;
      border-radius: 2rem;
      padding: 1rem 2.5rem;
      text-decoration: none;
      color: $main-green;
      font-size: 1.8rem;
      transition: all .3s;

      &:hover {
         background-color: $btn-green;
         color: $main-gray;
      }
   }
}
