@import "./modules/colors.scss";
@import "./modules/typography.scss";

.social-box{
 font-size: $size-stack;
 
}
 a
{
    color: $font-primary-color;
    font-size: $size-link;
    text-decoration: none;
    
}

#footer-information
{
    padding-top: 15px;
}
.fa-facebook-square
{
    color: $facebook-color;
}
.fa-twitter-square
{
    color:$twitter-color;
}
.fa-google-plus-square
{
    color: $googleplus-color;
}
.fa-instagram
{
    color: $instagram-color;
}
#socials
{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.copyright
{
    text-align: center;
    font-size: $size-small;
    padding-top: 70px;
}