<footer id="footer">
  <div class="container">
  <section id="socials">
    <div class="row">
    <div class="social-box  col-md-4 col-lg-4"><p>Fb</p></div>
    <div class="social-box  col-md-4 col-lg-4"><p>Twitter</p></div>
    <div class="social-box  col-md-4 col-lg-4"><p>Google plus</p></div>
    </div>
  </section>
  <section id="footer-information">
    <div class="row">
    <div class="footer-info col-md-4 col-lg-4">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="footer-info col-md-4 col-lg-4">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="footer-info col-md-4 col-lg-4">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    </div>
  </section>
  </div>
</footer>
