<footer id="footer">
  <div class="container">
  <section id="socials">
    <div class="row">
    <div class="social-box  col-md-3 col-lg-3 "><a href="https://www.facebook.com/" ><i class="fab fa-facebook-square"></i></a></div>
    <div class="social-box  col-md-3 col-lg-3 "><a href="https://twitter.com" ><i class="fab fa-twitter-square"></i></a></div>
    <div class="social-box  col-md-3 col-lg-3 "><a href="https://plus.google.com/" ><i class="fab fa-google-plus-square"></i></a></div>
      <div class="social-box  col-md-3 col-lg-3 "><a href="https://www.instagram.com/" ><i class="fab fa-instagram"></i></a></div>
    </div>
  </section>
  <section id="footer-information">
    <div class="row">
    <div class="footer-info col-md-3 col-lg-3">
      <a href="#">O nas </a>
    </div>
    <div class="footer-info col-md-3 col-lg-3">
      <a href="#">Kontakt</a>
    </div>

    <div class="footer-info col-md-3 col-lg-3">
    <a href="#">Mapa</a>
  </div>
    <div class="footer-info col-md-3 col-lg-3">
      <a href="#">Usługi</a>
    </div>
    </div>
  </section>
    <section id="footer-copyright">
      <div class="row">
        <div class="copyright ">
      <p>©Jerrysteam development group. All right's reserved </p>
        </div>
      </div>
    </section>
  </div>
</footer>
