<footer>
  <div class="container">
    <div class="row">
      <div class="social-box  col-xs-3">
        <a href="https://www.facebook.com/" ><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="social-box  col-xs-3">
        <a href="https://twitter.com" ><i class="fab fa-twitter-square"></i></a>
      </div>
      <div class="social-box  col-xs-3">
        <a href="https://plus.google.com/" ><i class="fab fa-google-plus-square"></i></a>
      </div>
      <div class="social-box  col-xs-3">
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="copyright ">
      <p>©Jerrysteam development group. All right's reserved </p>
    </div>
  </div>
</footer>
