@import "../sass/modules/typography.scss";
@import "../sass/modules/colors.scss";

footer {
    background-color: $footer-main;

    .social-box {
        font-size: $size-stack;

        a {
            color: $social-icon;
            font-size: $size-link;
            text-decoration: none;

            &:hover {
                color: $social-icon-hover;
            } 
        }
    }

    .copyright {
        text-align: center;
        font-size: $size-small;
        padding-top: 20px;

        p {
            color: $social-icon;
        }
    }
}

