<div class="container" id="employee">
  <h2>Nasi styliści</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img src="../../assets/img/mn.jpg" class="img-fluid">
      <button type="button" class=" btn btn-info" routerLink="/portfolio">O mnie</button>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="../../assets/img/monkey.jpg" class="img-fluid">
      <button type="button" class=" btn btn-info" routerLink="/portfolio">O mnie</button>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="../../assets/img/panda.jpg" class="img-fluid">
      <button type="button" class=" btn btn-info" routerLink="/portfolio">O mnie</button>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="../../assets/img/sloth.jpg" class="img-fluid">
      <button type="button" class=" btn btn-info" routerLink="/portfolio">O mnie</button>
    </div>
  </div>
</div>

