<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-5">
        <img class="img-rounded" src="../../assets/img/about.png" alt="about picture" height="200" width="300">
    </div>
    <div class="col-sm-7" style="text-align: justify; font-family:Verdana">
      <h4>Tworzenie piękna jest nasza pasją. Piękno stylizacji to harmonijne połączenie funkcjonalności i stylu. Nasi wyjątkowi styliści dążąc do osiągniecia najbardziej harmonijnej fryzury stawiają na precyzyjne strzyżenie za pomocą którego możliwe jest rzeźbienie trwałej i wygodnej w codziennym układaniu formy. Dokładamy wszelkich starań by każdy, kto oddaje się w nasze ręce poczuł się wyjątkowo. Inspirujemy sie światowymi trendami i nieustannie podnosimy kwalifikacje naszych Hairdrersserów.</h4>
<h4 style="font-style: italic" align="right">Eleonora Bouquete, kierownik salonu</h4>
    </div>
  </div>
</div>
