.container {

   img {
      height: auto;
      width: 500px;
   }

   .about-text {
      font-size: 10px;
      font-style: italic;
      font-family: Verdana;
      p {
         font-size: 1.8rem;
         line-height: 145%;
         text-align: justify;
      }
      h4 {
         text-align: right;
      }
   }
}

@media only screen and (max-width: 767px) {
   .about-text {
      margin-top: 4rem;
   }
}