.container {

   img {
      height: auto;
      width: 500px;
   }

   .about-text {
      font-size: 10px;
      font-style: bold italic;
      font-family: Raleway, sans-serif;
      p {
        font-size: 2rem;
         line-height: 145%;
         text-align: justify;

      }
      h4 {
         text-align: right;
         font-style: italic;

      }
   }
}

@media only screen and (max-width: 767px) {
   .about-text {
      margin-top: 4rem;
   }
}
