<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-5">
        <img class="img-responsive" src="../../assets/img/about.png" alt="about picture">
    </div>
    <div class="col-sm-6 col-md-7 about-text">
      <p>Tworzenie piękna jest nasza pasją. Piękno stylizacji to harmonijne połączenie funkcjonalności i stylu. Nasi wyjątkowi styliści dążąc do osiągniecia najbardziej harmonijnej fryzury stawiają na precyzyjne strzyżenie za pomocą którego możliwe jest rzeźbienie trwałej i wygodnej w codziennym układaniu formy. Dokładamy wszelkich starań by każdy, kto oddaje się w nasze ręce poczuł się wyjątkowo. Inspirujemy sie światowymi trendami i nieustannie podnosimy kwalifikacje naszych Hairdrersserów.</p>
      <h4>Kamila Nalewajko, kierownik salonu</h4>
    </div>
  </div>
</div>
