
{{checkUserInfo()}}
<div *ngIf="!authService.isUserEmailLoggedIn">
  <div style="width: 200px;" *ngIf="isNewUser">

    <p *ngIf="errorMessage.length > 0" class="text-danger">
      {{errorMessage}}</p>

    <p *ngIf="error.message.length > 0" class="text-danger">
      {{error.message}}</p>

    <form (ngSubmit)="onSignUp()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
      </div>

      <button type="submit" class="btn btn-success">Zarejestruj</button>
    </form>

    <h4>Masz już konto?</h4>
    <button class="btn btn-danger" (click)="changeForm()">Zaloguj się</button>
  </div>

  <div style="width: 200px;" *ngIf="!isNewUser">

    <p *ngIf="errorMessage.length > 0" class="text-danger">
      {{errorMessage}}</p>

    <p *ngIf="error.message.length > 0" class="text-danger">
      {{error.message}}</p>

    <form (ngSubmit)="onLoginEmail()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="email">
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
      </div>

      <button type="submit" class="btn btn-success">Zaloguj</button>
    </form>

    <h4>Nie masz jeszcze konta?</h4>
    <button class="btn btn-danger" (click)="changeForm()">Zarejestruj się</button>

    <!--<a *ngIf="!resetPassword && isValidMailFormat(email)" class="text-danger" (click)="sendResetEmail()">Zapomniałeś hasła? Odzyskaj hasło dla konta {{email}}</a>-->
    <!--<p *ngIf="resetPassword" class="text-success">Sprawdź wiadomość email, aby zresetować hasło!</p>-->

  </div>
</div>




<!--<form (submit)="loginUser($event)">-->
  <!--<div class="input">-->
    <!--<label>Użytkownik: </label>-->
    <!--<input type="text" name="loginName">-->
  <!--</div>-->
  <!--<div class="input">-->
    <!--<label>Hasło: </label>-->
    <!--<input type="password" name="password">-->
  <!--</div>-->
  <!--<input class="btn btn-success input-submit" type="submit" value="Zaloguj">-->

<!--</form>-->
