<div class="container">
  <div class="row">
    <div class="contact-form col-lg-6">
      <h3>Kontakt z nami </h3>
      <form>
        <div class="form-group ">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imię">
        </div>
        <div class="form-group ">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" placeholder="Treść wiadomości"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Wyślij">
      </form>
    </div>
  </div>
</div>

<div class="row" id="map">
  <div class="col-lg-12">
    <img src="../../assets/img/mapa.jpg" class="img-fluid" height="300" width="500">
  </div>
</div>
