<div class="container">
  <div class="row">

<section class="contact-form col-lg-6">
    <h3>Kontakt z nami </h3>
    <form >

        <div class="form-group ">

            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name">

          </div>
          <div class="form-group ">

            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
          </div>
          <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" placeholder="message"></textarea>
          </div>
          <input type="button" class="btn btn-primary" value="wyślij">
      </form>

</section>


  <section id="map">
    <div class="col-lg-6">
        <img src="../../assets/img/mapa.jpg" class="img-fluid" height="300" width="500">
    </div>
  </section>
</div>
</div>
