$footer-main: #111;
$social-icon: #7C7A76;
$social-icon-hover: #eee;
$white: white;
$main-gray: rgb(214, 206, 206);
$main-green: rgb(39, 241, 194);
$btn-green: rgba(28, 128, 104, .5);
$navbar-blue: rgb(39, 241, 194);
$red: rgb(228, 100, 100);