<div class="row">
  <div class="col-xs-12">
    <h3>Informacje</h3>
  </div>

  <div class="col-xs-12">
      <p>
        <span> Hairdressers Salon</span>
      </p>
      <p>
        <span>Adres: </span> ul. Starowiejska 11/12
      </p>
      <p>
          <span>Telefon: </span> 535-447-766
        </p>
      <p>
        <span>Godziny otwarcia:</span>
      </p>
      <p> Poniedziałek: 8:00 - 20:00 <BR>
          Wtorek: 8:00 - 20:00 <BR>
          Środa: 8:00 - 20:00 <BR>
          Czwartek: 8:00 - 20:00 <BR>
          Piątek: 8:00 - 20:00
      </p>
    </div>
</div>


