<div class="row">
    <h3>Informacje</h3>
    <div class="info-box">
    <div class="col-xs-6">

      <p>
        <span> Hairdressers Salon</span>
      </p>
      <p>
        <span>Adres: </span> ul. Starowiejska 28c
      </p>
      <p>
          <span>Telefon: </span> 535-447-766
        </p>
      <p>
      </div>
      <div class="col-xs-6">
        <span>Godziny otwarcia:</span>

      <p> Poniedziałek: 8:00 - 20:00 <BR>
          Wtorek: 8:00 - 20:00 <BR>
          Środa: 8:00 - 20:00 <BR>
          Czwartek: 8:00 - 20:00 <BR>
          Piątek: 8:00 - 20:00
      </p>
    </div>
</div>
</div>


