<div class="row">
  <div class="col-xs-12">
    <h3>Informacje</h3>
    <div class="info-box">
      <p>
        <span>Adres: </span> ul. G. Narutowicza 11/12
      </p>
      <p>
          <span>Telefon: </span> 111-222-333
        </p>
      <p>
        <span>Godziny otwarcia:</span>
      </p>
        <ul>
          <li><i class="glyphicon glyphicon-ok"></i>Poniedziałek: 8:00 - 20:00</li>
          <li><i class="glyphicon glyphicon-ok"></i>Wtorek: 8:00 - 20:00</li>
          <li><i class="glyphicon glyphicon-ok"></i>Środa: 8:00 - 20:00</li>
          <li><i class="glyphicon glyphicon-ok"></i>Czwartek: 8:00 - 20:00</li>
          <li><i class="glyphicon glyphicon-ok"></i>Piątek: 8:00 - 20:00</li>
        </ul>
    </div>
  </div>
</div>