<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<app-navbar></app-navbar>
<div class="container">
  <h2>Witaj {{ authService.currentUserName }}</h2>
  <div class="row">
  <h3>Zarezerwuj wizytę</h3>
    <form (ngSubmit)="makeReservation()">

      <div class="form-group col-sm-4">
        <label for="addEmployee">Fryzjer</label>
        <select name="addEmployee" id="addEmployee" class="form-control" required [(ngModel)]="addedEmployee">
          <option *ngFor="let employee of employees">{{ employee }}</option>
        </select>
      </div>

      <div class="form-group col-sm-4">
        <label for="addDate">Dzień</label>
        <input type="date" class="form-control" id="addDate" name="addData" required [(ngModel)]="addedDate">
      </div>

      <div class="form-group col-sm-4">
        <label for="addTime">Godzina</label>
        <select name="addTime" id="addTime" class="form-control" required [(ngModel)]="addedTime">
          <option *ngFor="let hour of hours">{{ hour }}</option>
        </select>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Zarezerwuj</button>
      </div>
    </form>
  </div>


  <div class="row">
  <h3>Twoje rezerwacje</h3>
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th>Dzień</th>
            <th>Godzina</th>
            <th>Fryzjer</th>
            <th>Odwołaj</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservationsWithId | async">
            <td>{{ (reservation.name == authService.currentUserName )? reservation.date : null }}</td>
            <td>{{ (reservation.name == authService.currentUserName )? reservation.time : null }}</td>
            <td>{{ (reservation.name == authService.currentUserName )? reservation.employee : null }}</td>
            <td><i class="glyphicon glyphicon-remove" (click)="delete(reservation)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3>Dodaj opinię o salonie</h3>

    <div class="container">
      <form (ngSubmit)="addComment()">
        <div class="form-group col-sm-2">
          <label for="addName">Twoje imię</label>
          <input type="text" class="form-control" id="addName" name="addName" required [(ngModel)]="addedName">
        </div>

        <div class="form-group col-sm-2">
          <label for="birthDate">Rok urodzenia</label>
          <input type="number" class="form-control" id="birthDate" name="birthDate" required [(ngModel)]="birthDate">
        </div>

        <div class="form-group col-sm-2 stars">
          <span style="font-weight: 700">Twoja ocena</span>
          <BR>
          <input class="star star-5" id="star-5" type="radio" value="5" name="star" [(ngModel)]="addedStars"/>
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4" id="star-4" type="radio" value="4" name="star" [(ngModel)]="addedStars"/>
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3" id="star-3" type="radio" value="3" name="star" [(ngModel)]="addedStars"/>
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2" id="star-2" type="radio" value="2" name="star" [(ngModel)]="addedStars"/>
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1" id="star-1" type="radio" value="1" name="star" [(ngModel)]="addedStars"/>
          <label class="star star-1" for="star-1"></label>
        </div>

        <div class="form-group col-sm-6">
          <label for="addComment">Wpisz swój komentarz</label>
          <input type="text" class="form-control" id="addComment" name="addComment" required [(ngModel)]="addedCommenttext">
        </div>

        <button [disabled]="!canComment" type="submit" class="btn btn-info center-block">Dodaj komentarz</button>
      </form>
    </div>

    <div *ngIf="commentInfo">
      <p>Dziękujemy za przesłanie opini :)</p>
    </div>
  </div>

  <button class="btn btn-danger" (click)="logout()">Wyloguj</button>
</div>
