<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div class="col-xs-3">
        <img width="300" alt="Angular Logo" src="https://orig00.deviantart.net/dad4/f/2015/202/f/8/tom_jerry_by_robertvincentpeace-d92ao95.png">
    </div>
    <div class="col-xs-3">
        <img width="300" alt="Angular Logo" src="https://orig00.deviantart.net/dad4/f/2015/202/f/8/tom_jerry_by_robertvincentpeace-d92ao95.png">
    </div>
    <div class="col-xs-3">
        <img width="300" alt="Angular Logo" src="https://orig00.deviantart.net/dad4/f/2015/202/f/8/tom_jerry_by_robertvincentpeace-d92ao95.png">
    </div>
    <div class="col-xs-3">
        <img width="300" alt="Angular Logo" src="https://orig00.deviantart.net/dad4/f/2015/202/f/8/tom_jerry_by_robertvincentpeace-d92ao95.png">
    </div>
  </div>
</div>


