<div class="row">
  <div *ngIf="!this.messageSent" class="contact-form col-xs-12">
    <form (ngSubmit)="addMessage()">
      <h3>Napisz do nas</h3>
      <div class="form-group ">
        <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Imię" required [(ngModel)]="messageName">
      </div>
      <div class="form-group ">
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" required [(ngModel)]="messageEmail">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" id="inputMessage" name="inpputMessage" placeholder="Treść wiadomości" required [(ngModel)]="messageText"></textarea>
      </div>
      <button type="submit" class="btn btn-info">Wyślij</button>
    </form>
  </div>
  <div *ngIf="this.messageSent" class="contact-form col-xs-12">
    <h1>Wiadomość wysłana, dziękujemy!</h1>
  </div>
</div>

