div {
  h3 {
    font-size: 48px;
    font-family: 'Raleway', bold, sans-serif;
    text-transform: uppercase;  }
}
table {
  th
  {
    text-align: center;
    border: none;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
  }
  td
  {
    text-align: center;
    border: none;
    font-size: 18px;

  }
}
